// Include any default variable overrides here (though functions won't be available)
@import "./complements/variables";

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import "./pages/index";
@import "./pages/contacto";
@import "./pages/nosotros";
@import "./pages/servicios";
@import "./pages/tarifas";
@import "./pages/zonas";
@import "./complements/bucles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c92d2;
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);
  background: linear-gradient(to left, #f2fcfe, #1c92d2);
}

/* keyframes */
@keyframes movimientoredesindex {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes movimientoredescontacto {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes movimientoimgprincipal {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* fin keyframes */

@keyframes movimientoredescontacto {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* FUENTES */
@font-face {
  font-family: "carbon";
  src: url(../fonts/CARBON-DROID.ttf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "omel";
  src: url(../fonts/Omelette.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Masking";
  src: url(../fonts/MaskiNgSchOOL.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Sanseriffic";
  src: url(../fonts/Sanseriffic.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansR";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansB";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansL";
  src: url(../fonts/OpenSans-Light.ttf);
  font-style: normal;
  font-weight: normal;
}

/* fin de fuentes */
