.main__primer__titulo {
  color: #000;
  font-style: normal;
  font-size: 3rem;
  font-family: "Sanseriffic";
  line-height: 1.6;
  font-weight: normal;
  padding: 80px;
  display: flex;
  justify-content: center;
}

.main__segundo__subtitulo {
  color: #000;
  font-style: normal;
  font-family: "Sanseriffic";
  line-height: 1.6;
  font-weight: normal;
  margin-top: -95px;
  display: flex;
  justify-content: center;
}

.main__primer__parrafo {
  color: #000;
  font-style: normal;
  font-size: 15px;
  font-family: "OpenSansL";
  text-align: center;
  line-height: 1.6;
  font-weight: normal;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__principal__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: movimientoimgprincipal 2.5s linear infinite;
}

.main__objetivo__mision {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.main__mision {
  color: #000;
  font-style: normal;
  font-size: 13px;
  font-family: "OpenSansL";
  h2 {
    color: #1668c4;
  }
}

.main__objetivo {
  color: #000;
  font-style: normal;
  font-size: 13px;
  font-family: "OpenSansL";
  h2 {
    color: #1668c4;
  }
}

/* fin de contenido principal */
/* contenido servicios */
.section__servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__titulo {
    color: #000;
    font-style: normal;
    font-family: "Sanseriffic";
    line-height: 1.6;
    font-weight: normal;
  }
  &__lista {
    color: #000;
    font-style: normal;
    font-size: 20px;
    font-family: "OpenSansL";
    line-height: 1.4;
    font-weight: normal;
    transition: all 0.3s;
  }
  &__lista:hover {
    transform: scale(1.5);
  }
}

/* fin de contenido servicios */
/* contenido tarifas */
.section__tarifas {
  padding: 30px 15px;
  &__titulo {
    color: #000;
    font-style: normal;
    font-size: 3rem;
    font-family: "Sanseriffic";
    line-height: 1.6;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.section__tarifa_tabla {
  width: 100%;
  height: 100%;
}

.section__tabla__titulos {
  color: #000;
  font-style: normal;
  font-size: 18px;
  font-family: "OpenSansL";
  text-align: center;
  line-height: 1.6;
  font-weight: normal;
}

td {
  color: #000;
  font-style: normal;
  font-size: 30px;
  font-family: "OpenSansL";
  text-align: center;
  line-height: 1.6;
  font-weight: normal;
}

/* fin de contenido tarifa */
/* contenido zonas */
.section__zonas {
  color: #000;
  font-style: normal;
  font-size: 30px;
  font-family: "OpenSansL";
  line-height: 1.6;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  &__titulo {
    color: #000;
    font-style: normal;
    font-size: 3rem;
    font-family: "Sanseriffic";
    line-height: 1.6;
    font-weight: normal;
    display: flex;
    justify-content: center;
  }
  &__p {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
    margin-bottom: -400px;
  }
  &__p:hover {
    transform: scale(1.5);
  }
  &__a {
    color: #000;
    font-style: normal;
    font-size: 20px;
    font-family: "OpenSansB";
    line-height: 1.6;
    font-weight: normal;
    padding: 12px;
    display: flex;
    justify-content: center;
  }
}

.zonas__mapa {
  width: 100%;
}

/* fin de contenido zonas */
/* contenido contacto */
.section__contacto {
  display: flex;
  flex-direction: column;
  &__titulo {
    color: #000;
    font-style: normal;
    font-size: 3rem;
    font-family: "Sanseriffic";
    line-height: 1.6;
    font-weight: normal;
    display: flex;
    justify-content: center;
  }
  &__parrafo {
    color: #000;
    font-style: normal;
    font-size: 14px;
    font-family: "OpenSansL";
    text-align: center;
    line-height: 1.6;
    font-weight: normal;
  }
}

.contact-container {
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: #363953;

  border-radius: 0.5rem;
  overflow: hidden;
}
.form-container {
  padding: 20px;
}
.form-container h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-form {
  display: grid;
  row-gap: 1rem;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #2c2f48;
  padding: 10px;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.4rem;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form .send-button {
  border: none;
  outline: none;
  background: #00dbde;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-form .send-button:hover {
  background: rgba(0, 221, 224, 0.8);
  transition: 0.3s all linear;
}
.map iframe {
  width: 100%;
  height: 100%;
}

.sfooter {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding: 40px 0;
}

.sfooter .social {
  text-align: center;
  padding-bottom: 25px;
  animation: movimientoredescontacto 2.5s linear infinite;
}

.sfooter .social a {
  font-size: 24px;
  border: 1px solid;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 30px;
  opacity: 0.75;
}

.sfooter .social a:hover {
  opacity: 0.9;
}

.sfooter .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #54595f;
}
.telefono {
  margin-top: 15px;
  margin-left: 100px;
  color: #54595f;
}

/* fin de contenido contacto */
@media (min-width: 768px) {
  form {
    margin-left: 80px;
  }
}
@media (max-width: 964px) {
  .contact-container {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 700px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 20rem !important;
  }
  .map iframe {
    height: 400px;
  }
}
@media (min-width: 992px) {
  /* contenido principal */
  .main__primer__titulo {
    margin-top: -70px;
    padding: 180px 30px 45px;
  }

  .main__segundo__subtitulo {
    font-size: 3rem;
    margin-top: -5%;
  }

  .main__primer__parrafo {
    font-size: 22px;
  }

  .main__objetivo__mision {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5px;
    padding-left: 70px;
    height: 80vh;
  }

  .main__mision {
    font-size: 22px;
    height: 90vh;
  }

  .h2__mision {
    font-size: 70px;
  }

  .main__objetivo {
    font-size: 22px;
  }

  .h2__objetivo {
    font-size: 70px;
  }

  /* fin de contenido principal */
  /* inicio de contenido servicios */
  .section__servicios__titulo {
    font-size: 3rem;
  }
  .section__servicios__lista {
    font-size: 20px;
    line-height: 1.6;
  }

  /* fin de contenido servicios */
  /* contenido zonas */
  .section__zonas__p {
    font-size: 20px;
    margin-bottom: 0px;
  }

  /* fin contenido zonas */
  /* contenido contacto */
  .section__contacto__parrafo {
    font-size: 20px;
  }

  /* fin de contenido contacto */
  form {
    margin-left: 150px;
  }
  .telefono {
    margin-top: 15px;
    margin-left: 720px;
    color: #54595f;
  }
}
