/* PAGINA TARIFAS */
.tarifas__pagina {
  padding: 70px 15px;
}

.tarifas__titulo {
  color: #000;
  font-style: normal;
  font-size: 3rem;
  font-family: "Sanseriffic";
  line-height: 1.6;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarifas__titulos__tabla {
  color: #000;
  font-style: normal;
  font-size: 20px;
  font-family: "OpenSansL";
  text-align: center;
  line-height: 1.6;
  font-weight: normal;
}

td {
  font-size: 15px;
}
.sfooter {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding: 40px 0;
}

.sfooter .social {
  text-align: center;
  padding-bottom: 25px;
  animation: movimientoredescontacto 2.5s linear infinite;
}

.sfooter .social a {
  font-size: 24px;
  border: 1px solid;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 30px;
  opacity: 0.75;
}

.sfooter .social a:hover {
  opacity: 0.9;
}

.sfooter .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #54595F;
}
@media (min-width: 768px) {
  .tarifas__tabla{
    width: 100%;
  }

}
@media (min-width: 992px) {
  /* PAGINA TARIFAS */
  .tarifas__tabla {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

}

